body {
  font-family: Figtree;
}
.display-1 {
  font-family: 'Newsreader', serif;
  font-size: 6.5rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 4.225rem;
}
.display-2 {
  font-family: 'Newsreader', serif;
  font-size: 4.625rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.00625rem;
}
.display-4 {
  font-family: 'Figtree', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 0.975rem;
}
.display-5 {
  font-family: 'Newsreader', serif;
  font-size: 2.25rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.4625rem;
}
.display-7 {
  font-family: 'Figtree', sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 0.8125rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 5.2rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.55rem;
    font-size: calc( 2.0999999999999996rem + (6.5 - 2.0999999999999996) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.0999999999999996rem + (6.5 - 2.0999999999999996) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.7rem;
    font-size: calc( 1.7249999999999996rem + (4.625 - 1.7249999999999996) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7249999999999996rem + (4.625 - 1.7249999999999996) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.8rem;
    font-size: calc( 1.3125rem + (2.25 - 1.3125) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.3125rem + (2.25 - 1.3125) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1rem;
    font-size: calc( 1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #94a393 !important;
}
.bg-success {
  background-color: #526b51 !important;
}
.bg-info {
  background-color: #c9beb5 !important;
}
.bg-warning {
  background-color: #a09099 !important;
}
.bg-danger {
  background-color: #694f5f !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #94a393 !important;
  border-color: #94a393 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #687967 !important;
  border-color: #687967 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #6e7a7a !important;
  border-color: #6e7a7a !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #454c4c !important;
  border-color: #454c4c !important;
}
.btn-info,
.btn-info:active {
  background-color: #c9beb5 !important;
  border-color: #c9beb5 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #a49283 !important;
  border-color: #a49283 !important;
}
.btn-success,
.btn-success:active {
  background-color: #526b51 !important;
  border-color: #526b51 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2c3a2c !important;
  border-color: #2c3a2c !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #a09099 !important;
  border-color: #a09099 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #75646e !important;
  border-color: #75646e !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #694f5f !important;
  border-color: #694f5f !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #382a32 !important;
  border-color: #382a32 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #45494e !important;
  border-color: #45494e !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #1c1e20 !important;
  border-color: #1c1e20 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  padding: 0 !important;
  position: relative !important;
  min-height: auto !important;
  color: #94a393;
}
.btn-primary-outline:before,
.btn-primary-outline:active:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.1em;
  width: 100%;
  height: 1px;
  background: #94a393;
  opacity: 0.1;
}
.btn-primary-outline:after,
.btn-primary-outline:active:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.1em;
  width: 100%;
  height: 1px;
  background: #94a393;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}
.btn-primary-outline .mbr-iconfont,
.btn-primary-outline:active .mbr-iconfont {
  position: relative;
  padding: 0.3em;
  border-radius: 50%;
  border: 1px solid #94a393;
  overflow: hidden;
  background: transparent;
  transition: all 0.3s ease !important;
}
.btn-primary-outline .mbr-iconfont:before,
.btn-primary-outline:active .mbr-iconfont:before {
  position: relative;
  transform-style: preserve-3d;
  transition: 0.1s all !important;
  animation: btn-move 0.3s ease;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #94a393 !important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline:hover .mbr-iconfont,
.btn-primary-outline:focus .mbr-iconfont,
.btn-primary-outline.focus .mbr-iconfont,
.btn-primary-outline.active .mbr-iconfont {
  background: #94a393;
  color: #ffffff;
}
.btn-primary-outline:hover .mbr-iconfont::before,
.btn-primary-outline:focus .mbr-iconfont::before,
.btn-primary-outline.focus .mbr-iconfont::before,
.btn-primary-outline.active .mbr-iconfont::before {
  animation: btn-move-hover 0.3s ease;
}
.btn-primary-outline:hover:after,
.btn-primary-outline:focus:after,
.btn-primary-outline.focus:after,
.btn-primary-outline.active:after {
  transform: scaleX(1);
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #94a393 !important;
  border-color: #94a393 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  padding: 0 !important;
  position: relative !important;
  min-height: auto !important;
  color: #6e7a7a;
}
.btn-secondary-outline:before,
.btn-secondary-outline:active:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.1em;
  width: 100%;
  height: 1px;
  background: #6e7a7a;
  opacity: 0.1;
}
.btn-secondary-outline:after,
.btn-secondary-outline:active:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.1em;
  width: 100%;
  height: 1px;
  background: #6e7a7a;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}
.btn-secondary-outline .mbr-iconfont,
.btn-secondary-outline:active .mbr-iconfont {
  position: relative;
  padding: 0.3em;
  border-radius: 50%;
  border: 1px solid #6e7a7a;
  overflow: hidden;
  background: transparent;
  transition: all 0.3s ease !important;
}
.btn-secondary-outline .mbr-iconfont:before,
.btn-secondary-outline:active .mbr-iconfont:before {
  position: relative;
  transform-style: preserve-3d;
  transition: 0.1s all !important;
  animation: btn-move 0.3s ease;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #6e7a7a !important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline:hover .mbr-iconfont,
.btn-secondary-outline:focus .mbr-iconfont,
.btn-secondary-outline.focus .mbr-iconfont,
.btn-secondary-outline.active .mbr-iconfont {
  background: #6e7a7a;
  color: #ffffff;
}
.btn-secondary-outline:hover .mbr-iconfont::before,
.btn-secondary-outline:focus .mbr-iconfont::before,
.btn-secondary-outline.focus .mbr-iconfont::before,
.btn-secondary-outline.active .mbr-iconfont::before {
  animation: btn-move-hover 0.3s ease;
}
.btn-secondary-outline:hover:after,
.btn-secondary-outline:focus:after,
.btn-secondary-outline.focus:after,
.btn-secondary-outline.active:after {
  transform: scaleX(1);
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #6e7a7a !important;
  border-color: #6e7a7a !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  padding: 0 !important;
  position: relative !important;
  min-height: auto !important;
  color: #c9beb5;
}
.btn-info-outline:before,
.btn-info-outline:active:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.1em;
  width: 100%;
  height: 1px;
  background: #c9beb5;
  opacity: 0.1;
}
.btn-info-outline:after,
.btn-info-outline:active:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.1em;
  width: 100%;
  height: 1px;
  background: #c9beb5;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}
.btn-info-outline .mbr-iconfont,
.btn-info-outline:active .mbr-iconfont {
  position: relative;
  padding: 0.3em;
  border-radius: 50%;
  border: 1px solid #c9beb5;
  overflow: hidden;
  background: transparent;
  transition: all 0.3s ease !important;
}
.btn-info-outline .mbr-iconfont:before,
.btn-info-outline:active .mbr-iconfont:before {
  position: relative;
  transform-style: preserve-3d;
  transition: 0.1s all !important;
  animation: btn-move 0.3s ease;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #c9beb5 !important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline:hover .mbr-iconfont,
.btn-info-outline:focus .mbr-iconfont,
.btn-info-outline.focus .mbr-iconfont,
.btn-info-outline.active .mbr-iconfont {
  background: #c9beb5;
  color: #ffffff;
}
.btn-info-outline:hover .mbr-iconfont::before,
.btn-info-outline:focus .mbr-iconfont::before,
.btn-info-outline.focus .mbr-iconfont::before,
.btn-info-outline.active .mbr-iconfont::before {
  animation: btn-move-hover 0.3s ease;
}
.btn-info-outline:hover:after,
.btn-info-outline:focus:after,
.btn-info-outline.focus:after,
.btn-info-outline.active:after {
  transform: scaleX(1);
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #c9beb5 !important;
  border-color: #c9beb5 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  padding: 0 !important;
  position: relative !important;
  min-height: auto !important;
  color: #526b51;
}
.btn-success-outline:before,
.btn-success-outline:active:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.1em;
  width: 100%;
  height: 1px;
  background: #526b51;
  opacity: 0.1;
}
.btn-success-outline:after,
.btn-success-outline:active:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.1em;
  width: 100%;
  height: 1px;
  background: #526b51;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}
.btn-success-outline .mbr-iconfont,
.btn-success-outline:active .mbr-iconfont {
  position: relative;
  padding: 0.3em;
  border-radius: 50%;
  border: 1px solid #526b51;
  overflow: hidden;
  background: transparent;
  transition: all 0.3s ease !important;
}
.btn-success-outline .mbr-iconfont:before,
.btn-success-outline:active .mbr-iconfont:before {
  position: relative;
  transform-style: preserve-3d;
  transition: 0.1s all !important;
  animation: btn-move 0.3s ease;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #526b51 !important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline:hover .mbr-iconfont,
.btn-success-outline:focus .mbr-iconfont,
.btn-success-outline.focus .mbr-iconfont,
.btn-success-outline.active .mbr-iconfont {
  background: #526b51;
  color: #ffffff;
}
.btn-success-outline:hover .mbr-iconfont::before,
.btn-success-outline:focus .mbr-iconfont::before,
.btn-success-outline.focus .mbr-iconfont::before,
.btn-success-outline.active .mbr-iconfont::before {
  animation: btn-move-hover 0.3s ease;
}
.btn-success-outline:hover:after,
.btn-success-outline:focus:after,
.btn-success-outline.focus:after,
.btn-success-outline.active:after {
  transform: scaleX(1);
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #526b51 !important;
  border-color: #526b51 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  padding: 0 !important;
  position: relative !important;
  min-height: auto !important;
  color: #a09099;
}
.btn-warning-outline:before,
.btn-warning-outline:active:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.1em;
  width: 100%;
  height: 1px;
  background: #a09099;
  opacity: 0.1;
}
.btn-warning-outline:after,
.btn-warning-outline:active:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.1em;
  width: 100%;
  height: 1px;
  background: #a09099;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}
.btn-warning-outline .mbr-iconfont,
.btn-warning-outline:active .mbr-iconfont {
  position: relative;
  padding: 0.3em;
  border-radius: 50%;
  border: 1px solid #a09099;
  overflow: hidden;
  background: transparent;
  transition: all 0.3s ease !important;
}
.btn-warning-outline .mbr-iconfont:before,
.btn-warning-outline:active .mbr-iconfont:before {
  position: relative;
  transform-style: preserve-3d;
  transition: 0.1s all !important;
  animation: btn-move 0.3s ease;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #a09099 !important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline:hover .mbr-iconfont,
.btn-warning-outline:focus .mbr-iconfont,
.btn-warning-outline.focus .mbr-iconfont,
.btn-warning-outline.active .mbr-iconfont {
  background: #a09099;
  color: #ffffff;
}
.btn-warning-outline:hover .mbr-iconfont::before,
.btn-warning-outline:focus .mbr-iconfont::before,
.btn-warning-outline.focus .mbr-iconfont::before,
.btn-warning-outline.active .mbr-iconfont::before {
  animation: btn-move-hover 0.3s ease;
}
.btn-warning-outline:hover:after,
.btn-warning-outline:focus:after,
.btn-warning-outline.focus:after,
.btn-warning-outline.active:after {
  transform: scaleX(1);
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #a09099 !important;
  border-color: #a09099 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  padding: 0 !important;
  position: relative !important;
  min-height: auto !important;
  color: #694f5f;
}
.btn-danger-outline:before,
.btn-danger-outline:active:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.1em;
  width: 100%;
  height: 1px;
  background: #694f5f;
  opacity: 0.1;
}
.btn-danger-outline:after,
.btn-danger-outline:active:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.1em;
  width: 100%;
  height: 1px;
  background: #694f5f;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}
.btn-danger-outline .mbr-iconfont,
.btn-danger-outline:active .mbr-iconfont {
  position: relative;
  padding: 0.3em;
  border-radius: 50%;
  border: 1px solid #694f5f;
  overflow: hidden;
  background: transparent;
  transition: all 0.3s ease !important;
}
.btn-danger-outline .mbr-iconfont:before,
.btn-danger-outline:active .mbr-iconfont:before {
  position: relative;
  transform-style: preserve-3d;
  transition: 0.1s all !important;
  animation: btn-move 0.3s ease;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #694f5f !important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline:hover .mbr-iconfont,
.btn-danger-outline:focus .mbr-iconfont,
.btn-danger-outline.focus .mbr-iconfont,
.btn-danger-outline.active .mbr-iconfont {
  background: #694f5f;
  color: #ffffff;
}
.btn-danger-outline:hover .mbr-iconfont::before,
.btn-danger-outline:focus .mbr-iconfont::before,
.btn-danger-outline.focus .mbr-iconfont::before,
.btn-danger-outline.active .mbr-iconfont::before {
  animation: btn-move-hover 0.3s ease;
}
.btn-danger-outline:hover:after,
.btn-danger-outline:focus:after,
.btn-danger-outline.focus:after,
.btn-danger-outline.active:after {
  transform: scaleX(1);
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #694f5f !important;
  border-color: #694f5f !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  padding: 0 !important;
  position: relative !important;
  min-height: auto !important;
  color: #45494e;
}
.btn-black-outline:before,
.btn-black-outline:active:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.1em;
  width: 100%;
  height: 1px;
  background: #45494e;
  opacity: 0.1;
}
.btn-black-outline:after,
.btn-black-outline:active:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.1em;
  width: 100%;
  height: 1px;
  background: #45494e;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}
.btn-black-outline .mbr-iconfont,
.btn-black-outline:active .mbr-iconfont {
  position: relative;
  padding: 0.3em;
  border-radius: 50%;
  border: 1px solid #45494e;
  overflow: hidden;
  background: transparent;
  transition: all 0.3s ease !important;
}
.btn-black-outline .mbr-iconfont:before,
.btn-black-outline:active .mbr-iconfont:before {
  position: relative;
  transform-style: preserve-3d;
  transition: 0.1s all !important;
  animation: btn-move 0.3s ease;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #45494e !important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline:hover .mbr-iconfont,
.btn-black-outline:focus .mbr-iconfont,
.btn-black-outline.focus .mbr-iconfont,
.btn-black-outline.active .mbr-iconfont {
  background: #45494e;
  color: #ffffff;
}
.btn-black-outline:hover .mbr-iconfont::before,
.btn-black-outline:focus .mbr-iconfont::before,
.btn-black-outline.focus .mbr-iconfont::before,
.btn-black-outline.active .mbr-iconfont::before {
  animation: btn-move-hover 0.3s ease;
}
.btn-black-outline:hover:after,
.btn-black-outline:focus:after,
.btn-black-outline.focus:after,
.btn-black-outline.active:after {
  transform: scaleX(1);
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #45494e !important;
  border-color: #45494e !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  padding: 0 !important;
  position: relative !important;
  min-height: auto !important;
  color: #fafafa;
}
.btn-white-outline:before,
.btn-white-outline:active:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.1em;
  width: 100%;
  height: 1px;
  background: #fafafa;
  opacity: 0.1;
}
.btn-white-outline:after,
.btn-white-outline:active:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.1em;
  width: 100%;
  height: 1px;
  background: #fafafa;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}
.btn-white-outline .mbr-iconfont,
.btn-white-outline:active .mbr-iconfont {
  position: relative;
  padding: 0.3em;
  border-radius: 50%;
  border: 1px solid #fafafa;
  overflow: hidden;
  background: transparent;
  transition: all 0.3s ease !important;
}
.btn-white-outline .mbr-iconfont:before,
.btn-white-outline:active .mbr-iconfont:before {
  position: relative;
  transform-style: preserve-3d;
  transition: 0.1s all !important;
  animation: btn-move 0.3s ease;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #fafafa !important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline:hover .mbr-iconfont,
.btn-white-outline:focus .mbr-iconfont,
.btn-white-outline.focus .mbr-iconfont,
.btn-white-outline.active .mbr-iconfont {
  background: #fafafa;
  color: #7a7a7a;
}
.btn-white-outline:hover .mbr-iconfont::before,
.btn-white-outline:focus .mbr-iconfont::before,
.btn-white-outline.focus .mbr-iconfont::before,
.btn-white-outline.active .mbr-iconfont::before {
  animation: btn-move-hover 0.3s ease;
}
.btn-white-outline:hover:after,
.btn-white-outline:focus:after,
.btn-white-outline.focus:after,
.btn-white-outline.active:after {
  transform: scaleX(1);
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #94a393 !important;
}
.text-secondary {
  color: #6e7a7a !important;
}
.text-success {
  color: #526b51 !important;
}
.text-info {
  color: #c9beb5 !important;
}
.text-warning {
  color: #a09099 !important;
}
.text-danger {
  color: #694f5f !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #45494E !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #617060 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #3e4444 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #263125 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #9e8a7a !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #6d5d66 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #2f232a !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #151618 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #94a393;
}
.nav-tabs .nav-link:not(.active) {
  color: #26292C;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #c9beb5;
}
.alert-warning {
  background-color: #a09099;
}
.alert-danger {
  background-color: #694f5f;
}
.mbr-gallery-filter li.active .btn {
  background-color: #94a393;
  border-color: #94a393;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #94a393;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #d8ded8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #91ab90;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #dbd5d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #aa8e9f;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Figtree', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 0.975rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #94a393 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Figtree', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 0.975rem;
}
blockquote {
  border-color: #94a393;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #94a393;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #94a393;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #94a393;
  border-bottom-color: #94a393;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #94a393 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #6e7a7a !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2394a393' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition-duration: .2s;
}
a:hover {
  background-image: none !important;
}
.container,
.container-fluid {
  padding-left: 60px;
  padding-right: 60px;
}
@media (max-width: 1599px) {
  .container,
  .container-fluid {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 991px) {
  .container,
  .container-fluid {
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media (max-width: 767px) {
  .container,
  .container-fluid {
    padding-left: 18px;
    padding-right: 18px;
  }
}
@media (max-width: 575px) {
  .container,
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.container {
  max-width: 1920px;
  margin: 0 auto;
}
.row {
  margin-left: -20px;
  margin-right: -20px;
  justify-content: center;
}
.row > [class*="col"] {
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 991px) {
  .row {
    margin-left: -18px;
    margin-right: -18px;
    justify-content: center;
  }
  .row > [class*="col"] {
    padding-left: 18px;
    padding-right: 18px;
  }
}
@media (max-width: 575px) {
  .row {
    margin-left: -16px;
    margin-right: -16px;
    justify-content: center;
  }
  .row > [class*="col"] {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.row {
  justify-content: center;
}
.mbr-section-btn .btn {
  min-width: 100px;
  min-height: 60px;
  padding: 15px 30px;
  font-weight: 500;
  line-height: 1 !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
@keyframes btn-move {
  0% {
    left: 0;
  }
  49% {
    left: -100%;
  }
  50% {
    left: -100%;
    opacity: 0;
  }
  51% {
    left: 100%;
    opacity: 0;
  }
  52% {
    left: 100%;
    opacity: 1;
  }
  100% {
    left: 0;
  }
}
@keyframes btn-move-hover {
  0% {
    left: 0;
  }
  49% {
    left: 100%;
  }
  50% {
    left: 100%;
    opacity: 0;
  }
  51% {
    left: -100%;
    opacity: 0;
  }
  52% {
    left: -100%;
    opacity: 1;
  }
  100% {
    left: 0;
  }
}
#custom-html-2 {
  /* Type valid CSS here */
}
#custom-html-2 div {
  padding: 12px 0;
  color: #777;
  text-align: center;
}
#custom-html-2 p {
  font-size: 34px;
  color: #777;
}
#custom-html-0 {
  /* Type valid CSS here */
}
#custom-html-0 div {
  padding: 5px 5px;
  color: #777;
  text-align: center;
}
#custom-html-0 p {
  color: #777;
}
.cid-tfw5MOYr7T {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #26292c;
  overflow: hidden;
}
.cid-tfw5MOYr7T .mbr-text {
  color: #FFFFFF;
}
.cid-tA6zIpP4wq {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-tA6zIpP4wq nav.navbar {
  position: fixed;
}
.cid-tA6zIpP4wq .nav-link {
  font-weight: 600;
  position: relative;
}
.cid-tA6zIpP4wq .nav-link:hover {
  color: #94a393 !important;
}
.cid-tA6zIpP4wq .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  padding-right: 2rem !important;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tA6zIpP4wq .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tA6zIpP4wq .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tA6zIpP4wq .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tA6zIpP4wq .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tA6zIpP4wq .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tA6zIpP4wq .dropdown-item:hover,
.cid-tA6zIpP4wq .dropdown-item:focus {
  background: #94a393 !important;
  color: white !important;
}
.cid-tA6zIpP4wq .dropdown-item:hover span {
  color: white;
}
.cid-tA6zIpP4wq .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tA6zIpP4wq .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tA6zIpP4wq .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tA6zIpP4wq .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tA6zIpP4wq .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-tA6zIpP4wq .container {
    flex-wrap: nowrap;
  }
}
.cid-tA6zIpP4wq .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tA6zIpP4wq .dropdown-menu,
.cid-tA6zIpP4wq .navbar.opened {
  background: #c6ffe0 !important;
}
.cid-tA6zIpP4wq .nav-item:focus,
.cid-tA6zIpP4wq .nav-link:focus {
  outline: none;
}
.cid-tA6zIpP4wq .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tA6zIpP4wq .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tA6zIpP4wq .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tA6zIpP4wq .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tA6zIpP4wq .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tA6zIpP4wq .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tA6zIpP4wq .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #c6ffe0;
}
.cid-tA6zIpP4wq .navbar.opened {
  transition: all 0.3s;
}
.cid-tA6zIpP4wq .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tA6zIpP4wq .navbar .navbar-logo img {
  width: auto;
}
.cid-tA6zIpP4wq .navbar .navbar-collapse {
  justify-content: space-between;
  z-index: 1;
}
.cid-tA6zIpP4wq .navbar.collapsed {
  justify-content: center;
}
.cid-tA6zIpP4wq .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tA6zIpP4wq .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tA6zIpP4wq .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-tA6zIpP4wq .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tA6zIpP4wq .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tA6zIpP4wq .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tA6zIpP4wq .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tA6zIpP4wq .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tA6zIpP4wq .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tA6zIpP4wq .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tA6zIpP4wq .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tA6zIpP4wq .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tA6zIpP4wq .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tA6zIpP4wq .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tA6zIpP4wq .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tA6zIpP4wq .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tA6zIpP4wq .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tA6zIpP4wq .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tA6zIpP4wq .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tA6zIpP4wq .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-tA6zIpP4wq .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-tA6zIpP4wq .navbar.navbar-short {
  min-height: 60px;
}
.cid-tA6zIpP4wq .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tA6zIpP4wq .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tA6zIpP4wq .dropdown-item.active,
.cid-tA6zIpP4wq .dropdown-item:active {
  background-color: transparent;
}
.cid-tA6zIpP4wq .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tA6zIpP4wq .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tA6zIpP4wq .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tA6zIpP4wq .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #c6ffe0;
}
.cid-tA6zIpP4wq .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tA6zIpP4wq .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tA6zIpP4wq ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tA6zIpP4wq .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tA6zIpP4wq button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tA6zIpP4wq button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-tA6zIpP4wq button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tA6zIpP4wq button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tA6zIpP4wq button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tA6zIpP4wq button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tA6zIpP4wq nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tA6zIpP4wq nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tA6zIpP4wq nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tA6zIpP4wq nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tA6zIpP4wq .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tA6zIpP4wq a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tA6zIpP4wq .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tA6zIpP4wq .navbar {
    height: 70px;
  }
  .cid-tA6zIpP4wq .navbar.opened {
    height: auto;
  }
  .cid-tA6zIpP4wq .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
#custom-html-b {
  /* Type valid CSS here */
}
#custom-html-b div {
  padding: 80px 0;
  color: #777;
  text-align: center;
}
#custom-html-b p {
  font-size: 60px;
  color: #777;
}
.cid-tA6xOn4UMA {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #45494e;
}
.cid-tA6xOn4UMA .mbr-fallback-image.disabled {
  display: none;
}
.cid-tA6xOn4UMA .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tA6xOn4UMA .mbr-section-title {
  margin-bottom: 32px;
}
.cid-tA6zIpP4wq {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-tA6zIpP4wq nav.navbar {
  position: fixed;
}
.cid-tA6zIpP4wq .nav-link {
  font-weight: 600;
  position: relative;
}
.cid-tA6zIpP4wq .nav-link:hover {
  color: #94a393 !important;
}
.cid-tA6zIpP4wq .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  padding-right: 2rem !important;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tA6zIpP4wq .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tA6zIpP4wq .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tA6zIpP4wq .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tA6zIpP4wq .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tA6zIpP4wq .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tA6zIpP4wq .dropdown-item:hover,
.cid-tA6zIpP4wq .dropdown-item:focus {
  background: #94a393 !important;
  color: white !important;
}
.cid-tA6zIpP4wq .dropdown-item:hover span {
  color: white;
}
.cid-tA6zIpP4wq .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tA6zIpP4wq .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tA6zIpP4wq .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tA6zIpP4wq .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tA6zIpP4wq .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-tA6zIpP4wq .container {
    flex-wrap: nowrap;
  }
}
.cid-tA6zIpP4wq .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tA6zIpP4wq .dropdown-menu,
.cid-tA6zIpP4wq .navbar.opened {
  background: #c6ffe0 !important;
}
.cid-tA6zIpP4wq .nav-item:focus,
.cid-tA6zIpP4wq .nav-link:focus {
  outline: none;
}
.cid-tA6zIpP4wq .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tA6zIpP4wq .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tA6zIpP4wq .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tA6zIpP4wq .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tA6zIpP4wq .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tA6zIpP4wq .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tA6zIpP4wq .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #c6ffe0;
}
.cid-tA6zIpP4wq .navbar.opened {
  transition: all 0.3s;
}
.cid-tA6zIpP4wq .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tA6zIpP4wq .navbar .navbar-logo img {
  width: auto;
}
.cid-tA6zIpP4wq .navbar .navbar-collapse {
  justify-content: space-between;
  z-index: 1;
}
.cid-tA6zIpP4wq .navbar.collapsed {
  justify-content: center;
}
.cid-tA6zIpP4wq .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tA6zIpP4wq .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tA6zIpP4wq .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-tA6zIpP4wq .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tA6zIpP4wq .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tA6zIpP4wq .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tA6zIpP4wq .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tA6zIpP4wq .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tA6zIpP4wq .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tA6zIpP4wq .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tA6zIpP4wq .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tA6zIpP4wq .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tA6zIpP4wq .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tA6zIpP4wq .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tA6zIpP4wq .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tA6zIpP4wq .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tA6zIpP4wq .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tA6zIpP4wq .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tA6zIpP4wq .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tA6zIpP4wq .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-tA6zIpP4wq .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-tA6zIpP4wq .navbar.navbar-short {
  min-height: 60px;
}
.cid-tA6zIpP4wq .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tA6zIpP4wq .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tA6zIpP4wq .dropdown-item.active,
.cid-tA6zIpP4wq .dropdown-item:active {
  background-color: transparent;
}
.cid-tA6zIpP4wq .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tA6zIpP4wq .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tA6zIpP4wq .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tA6zIpP4wq .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #c6ffe0;
}
.cid-tA6zIpP4wq .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tA6zIpP4wq .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tA6zIpP4wq ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tA6zIpP4wq .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tA6zIpP4wq button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tA6zIpP4wq button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-tA6zIpP4wq button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tA6zIpP4wq button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tA6zIpP4wq button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tA6zIpP4wq button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tA6zIpP4wq nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tA6zIpP4wq nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tA6zIpP4wq nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tA6zIpP4wq nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tA6zIpP4wq .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tA6zIpP4wq a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tA6zIpP4wq .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tA6zIpP4wq .navbar {
    height: 70px;
  }
  .cid-tA6zIpP4wq .navbar.opened {
    height: auto;
  }
  .cid-tA6zIpP4wq .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
#custom-html-d {
  /* Type valid CSS here */
}
#custom-html-d div {
  padding: 80px 0;
  color: #777;
  text-align: center;
}
#custom-html-d p {
  font-size: 60px;
  color: #777;
}
.cid-tA6C4OhLEt {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #45494e;
}
.cid-tA6C4OhLEt .mbr-fallback-image.disabled {
  display: none;
}
.cid-tA6C4OhLEt .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tA6C4OhLEt .mbr-section-title {
  margin-bottom: 32px;
}
.cid-tA6C4UOpzL {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-tA6C4UOpzL nav.navbar {
  position: fixed;
}
.cid-tA6C4UOpzL .nav-link {
  font-weight: 600;
  position: relative;
}
.cid-tA6C4UOpzL .nav-link:hover {
  color: #94a393 !important;
}
.cid-tA6C4UOpzL .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  padding-right: 2rem !important;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tA6C4UOpzL .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tA6C4UOpzL .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tA6C4UOpzL .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tA6C4UOpzL .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tA6C4UOpzL .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tA6C4UOpzL .dropdown-item:hover,
.cid-tA6C4UOpzL .dropdown-item:focus {
  background: #94a393 !important;
  color: white !important;
}
.cid-tA6C4UOpzL .dropdown-item:hover span {
  color: white;
}
.cid-tA6C4UOpzL .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tA6C4UOpzL .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tA6C4UOpzL .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tA6C4UOpzL .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tA6C4UOpzL .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-tA6C4UOpzL .container {
    flex-wrap: nowrap;
  }
}
.cid-tA6C4UOpzL .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tA6C4UOpzL .dropdown-menu,
.cid-tA6C4UOpzL .navbar.opened {
  background: #c6ffe0 !important;
}
.cid-tA6C4UOpzL .nav-item:focus,
.cid-tA6C4UOpzL .nav-link:focus {
  outline: none;
}
.cid-tA6C4UOpzL .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tA6C4UOpzL .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tA6C4UOpzL .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tA6C4UOpzL .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tA6C4UOpzL .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tA6C4UOpzL .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tA6C4UOpzL .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #c6ffe0;
}
.cid-tA6C4UOpzL .navbar.opened {
  transition: all 0.3s;
}
.cid-tA6C4UOpzL .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tA6C4UOpzL .navbar .navbar-logo img {
  width: auto;
}
.cid-tA6C4UOpzL .navbar .navbar-collapse {
  justify-content: space-between;
  z-index: 1;
}
.cid-tA6C4UOpzL .navbar.collapsed {
  justify-content: center;
}
.cid-tA6C4UOpzL .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tA6C4UOpzL .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tA6C4UOpzL .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-tA6C4UOpzL .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tA6C4UOpzL .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tA6C4UOpzL .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tA6C4UOpzL .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tA6C4UOpzL .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tA6C4UOpzL .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tA6C4UOpzL .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tA6C4UOpzL .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tA6C4UOpzL .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tA6C4UOpzL .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tA6C4UOpzL .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tA6C4UOpzL .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tA6C4UOpzL .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tA6C4UOpzL .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tA6C4UOpzL .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tA6C4UOpzL .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tA6C4UOpzL .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-tA6C4UOpzL .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-tA6C4UOpzL .navbar.navbar-short {
  min-height: 60px;
}
.cid-tA6C4UOpzL .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tA6C4UOpzL .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tA6C4UOpzL .dropdown-item.active,
.cid-tA6C4UOpzL .dropdown-item:active {
  background-color: transparent;
}
.cid-tA6C4UOpzL .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tA6C4UOpzL .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tA6C4UOpzL .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tA6C4UOpzL .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #c6ffe0;
}
.cid-tA6C4UOpzL .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tA6C4UOpzL .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tA6C4UOpzL ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tA6C4UOpzL .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tA6C4UOpzL button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tA6C4UOpzL button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-tA6C4UOpzL button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tA6C4UOpzL button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tA6C4UOpzL button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tA6C4UOpzL button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tA6C4UOpzL nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tA6C4UOpzL nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tA6C4UOpzL nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tA6C4UOpzL nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tA6C4UOpzL .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tA6C4UOpzL a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tA6C4UOpzL .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tA6C4UOpzL .navbar {
    height: 70px;
  }
  .cid-tA6C4UOpzL .navbar.opened {
    height: auto;
  }
  .cid-tA6C4UOpzL .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
